.touched, .invalid, .cached, .saved, .deleted {
  color: white;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: .7em;
}

.touched {
  background: orange;
}

.invalid {
  background: red;
}

.cached {
  background: blue;
}

.saved {
  background: green;
}

.deleted {
  background: red;
}
