<div *ngIf="notes">
  <mat-card class="note" *ngFor="let note of notes">

    <div *ngIf="editedNoteId !== note.id">
      <p>
        {{note.text}}
        <span class = "buttons">
          <button mat-button mat-icon-button (click)="editedNoteId = note.id">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button mat-icon-button (click)="onNoteDeleted.emit(note)">
            <mat-icon>close</mat-icon>
          </button>
        </span>
      </p>
      <p>
        <app-status [status]="note.status"></app-status>
      </p>
    </div>
    <mat-form-field *ngIf="editedNoteId === note.id" [style.width]="'100%'">
      <input (blur)="editedNoteId = -1; onNoteEdited.emit({id: note.id, text: $event.target.value, status: 'edited'});"
             matInput [value]="note.text"/>
    </mat-form-field>
  </mat-card>
</div>
