<app-header></app-header>

<div class="page">

  <mat-progress-bar *ngIf="loading"
    [mode]="'indeterminate'">
  </mat-progress-bar>

  <app-note-list
    [notes]="getVisibleNotes()"
    (onNoteEdited)="onNoteEdited($event)"
    (onNoteDeleted)="onNoteDeleted($event)"

  ></app-note-list>

  <p>
    <mat-form-field [style.width]="'calc(100% - 120px)'">
      <input #newnote matInput />
    </mat-form-field>

    <button mat-button color="primary"
            (click)="onNoteAdded()">Add new note</button>
  </p>

  <p>
    <button mat-raised-button color="primary" (click)="updateNotes()">Update</button>
    &nbsp;
    <button mat-raised-button [disabled]="getCachedNotes().length === 0" (click)="sync()">Sync</button>
    &nbsp;
    <span>Cache: {{getCachedNotes().length}}</span>
  </p>
</div>

<pre>{{notes | json}}</pre>
